<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>password_generator</title>
  </head>
  <body>

<div class="special">
<h1 align ="center">Your password - {{ pass}} </h1>
</div>
<div style="margin:auto;text-align:center;">
<a href="{% url 'home' %}"><button type="button" class="btn btn-info">Home</button></a>
</div>
</body>
<style>
  .special{
    background:#24fb25;
    margin:auto;
    text-align="center";
    margin:10%;
    padding:50px;
    color:white;
    border:solid;
    border-width:2px;
    border-color:#67b18f;
    border-radius:7px;

  }
</style>
</html>
